.sidebar {
  display: flex;
  flex-direction: column;
  color: white;
  background-color: black;
  width: 17.5rem;
  height: 100%;
  padding: 1.5rem;
  position: fixed;

  .sidebar-header {

    .sidebar-header-logo {
      display: flex;
      align-items: center;
      text-decoration: none;
      color: white;
  
      img {
        margin-right: 1rem;
      }
    }
  }

  .nav {
    .nav-item {
      margin: 1rem 0;
    }
  }
}